HOST=0.0.0.0
PORT=1337
API_URL=http://localhost:1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

DATABASE_CLIENT=postgres
DATABASE_URL="postgresql://user:password@localhost:5432/vagabond"

DOC_PASSWORD=7UMWfOtjiCT8avv25vWMpiHY6X87yH8oa

# AWS S3 Bucket
AWS_ACCESS_KEY_ID=user
AWS_ACCESS_SECRET=password
CDN_URL=http://localhost:9321/local-vagabond-s3-bucket
AWS_PRIVATE_ENDPOINT=http://localhost:9321
AWS_REGION=us-east-1
AWS_BUCKET=local-vagabond-s3-bucket
AWS_S3_FORCE_PATH_STYLE=true
