# ============================== Common ==============================
## Comment this variable to disable SafeQL linting
SAFEQL_DATABASE_URL="postgresql://user:password@localhost:5442/vagabond-data-manager"

