# Project files
**/.env
**/node_modules
**/DS_store

# Nx files
.nx/cache
.nx/workspace-data

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/

# IDE files
.vscode/
.idea/
.claude/

# Build and release
**/builds-and-releases/

**/.DS_Store
