# ============================== Mobile app ==============================
# ==== LOCAL and DEV ====

#APP
APP_NAME="DEVagabond"
PACKAGE_AND_BUNDLE_IDENTIFIER="dev.com.vagabond.explore.tourism"

# EAS
EXPO_EAS_PROJECT_ID="<your-expo-eas-project-id>"
EXPO_EAS_UPDATES_URL=https://u.expo.dev/<your-expo-eas-project-id>

# API and CDN
#EXPO_PUBLIC_API_URL=http://127.0.0.1:3000 #for offline localhost
EXPO_PUBLIC_API_URL=https://your-ngrok-url.ngrok-free.app
#EXPO_PUBLIC_API_URL=https://vagabond-api.fly.dev # to use DEV API
EXPO_PUBLIC_CDN_URL=https://dev-vagabond-public.t3.storage.dev
EXPO_PUBLIC_APP_ENV=development

# Auth
GOOGLE_SERVICES_JSON=./firebase/dev/google-services.json
GOOGLE_SERVICES_PLIST=./firebase/dev/GoogleService-Info.plist
EXPO_PUBLIC_APPLE_SIGN_IN_SERVICE_ID=dev.com.vagabond.signin
EXPO_PUBLIC_APPLE_SIGN_IN_REDIRECT_URL=https://your-redirect-url.com/fake-route/auth-apple-redirect
EXPO_PUBLIC_GOOGLE_SIGN_IN_WEB_CLIENT_ID=<your-google-sign-in-web-client-id>

# Mapbox
EXPO_PUBLIC_MAPBOX_TOKEN=<your-mapbox-public-token>
SEMI_PUBLIC_MAPBOX_TOKEN=<your-mapbox-semi-public-token>
PRIVATE_MAPBOX_TOKEN=<your-mapbox-private-token>
# add /draft to use draft style
EXPO_PUBLIC_MAPBOX_STYLE_URL="mapbox://styles/<your-username>/<your-style-id>"
EXPO_PUBLIC_BOUNDARIES_MAPBOX_TILESET_URL="mapbox://<your-username>.boundaries-tileset-v2"
EXPO_PUBLIC_POIS_MAPBOX_TILESET_URL="mapbox://<your-username>.pois-tileset-v1"

# EAS settings for local builds
EAS_LOCAL_BUILD_SKIP_CLEANUP=1
#EXPO_NO_CAPABILITY_SYNC=1
#EAS_LOCAL_BUILD_WORKINGDIR=builds-and-releases/expo-builds
