# Private
DEV_GOOGLE_MAPS_API_KEY=<fill this field>
DEV_GOOGLE_SIGN_IN_IOS_REVERSED_CLIENT_ID=<fill this field>

# Public
DEV_EXPO_PUBLIC_API_URL=http://localhost:1337/api
DEV_EXPO_PUBLIC_GOOGLE_SIGN_IN_IOS_CLIENT_ID=<fill this field>
DEV_EXPO_PUBLIC_APPLE_SIGN_IN_SERVICE_ID=dev.com.vagabond.signin
DEV_EXPO_PUBLIC_APPLE_SIGN_IN_REDIRECT_URL=<fill this field>

# For local builds
#EXPO_NO_CAPABILITY_SYNC=1
EAS_LOCAL_BUILD_SKIP_CLEANUP=1
#EAS_LOCAL_BUILD_WORKINGDIR=builds-and-releases/expo-builds