# Private
GOOGLE_MAPS_API_KEY=<fill this field>
GOOGLE_SIGN_IN_IOS_REVERSED_CLIENT_ID=<fill this field>

# Public
EXPO_PUBLIC_API_URL=http://localhost:1337/api
EXPO_PUBLIC_GOOGLE_SIGN_IN_IOS_CLIENT_ID=<fill this field>