# ============================== Data manager ==============================
DATA_MANAGER_DATABASE_URL="postgresql://user:password@localhost:5442/vagabond-data-manager"
API_DATABASE_URL="postgresql://user:password@localhost:5432/vagabond"
MAPBOX_USERNAME=<fill this field>
MAPBOX_ACCESS_TOKEN=<fill this field>