# Strapi config
HOST=0.0.0.0
PORT=1337
API_URL=http://localhost:1337
APP_KEYS="<fill this field>,<fill this field>"
API_TOKEN_SALT=<fill this field>
ADMIN_JWT_SECRET=<fill this field>
TRANSFER_TOKEN_SALT=<fill this field>
JWT_SECRET=<fill this field>

# Database Postgres
DATABASE_CLIENT=postgres
DATABASE_URL="postgresql://user:password@localhost:5432/vagabond"

# AWS S3 Bucket (MinIO for local)
AWS_ACCESS_KEY_ID=user
AWS_ACCESS_SECRET=password
CDN_URL=http://localhost:9321/local-vagabond-s3-bucket
AWS_PRIVATE_ENDPOINT=http://localhost:9321
AWS_REGION=us-east-1
AWS_BUCKET=local-vagabond-s3-bucket
AWS_S3_FORCE_PATH_STYLE=true

# Sign-in providers
IOS_BUNDLE_ID=dev.com.vagabond.explore.tourism
APPLE_SIGN_IN_SERVICE_ID=dev.com.vagabond.signin
APPLE_TEAM_ID=<fill this field>
APPLE_SIGN_IN_KEY_ID=<fill this field>
APPLE_SIGN_IN_KEY_CONTENT_BASE64=<fill this field>
APPLE_SIGN_IN_REDIRECT_URL=<fill this field>
