# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

FIREBASE_ADMIN_SERVICE_ACCOUNT_FILE_BASE64=<fill this field>

API_DATABASE_URL="postgresql://user:password@localhost:5432/vagabond"

# S3 Bucket
AWS_ACCESS_KEY_ID=<fill this field>
AWS_SECRET_ACCESS_KEY=<fill this field>
AWS_ENDPOINT_URL_S3=https://t3.storage.dev
# use this URL in fly.io
#AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
AWS_ENDPOINT_URL_IAM=https://fly.iam.storage.tigris.dev
AWS_REGION=auto
S3_BUCKET_NAME=dev-vagabond-public