# Firebase Admin SDK
FIREBASE_ADMIN_SERVICE_ACCOUNT_FILE_BASE64=<fill this field>

# Database
API_DATABASE_URL="postgresql://user:password@localhost:5432/vagabond"

# S3 Bucket
AWS_ACCESS_KEY_ID=<fill this field>
AWS_SECRET_ACCESS_KEY=<fill this field>
AWS_ENDPOINT_URL_S3=https://t3.storage.dev
# use this URL in fly.io
#AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
AWS_ENDPOINT_URL_IAM=https://fly.iam.storage.tigris.dev
AWS_REGION=auto
S3_BUCKET_NAME=dev-vagabond-public
CDN_URL=https://dev-vagabond-public.t3.storage.dev

# Slack config
SLACK_BOT_AUTH_TOKEN=<fill this field>
SLACK_CHANNEL_SIGNUPS=<fill this field>
SLACK_CHANNEL_POI_VALIDATIONS=<fill this field>
SLACK_CHANNEL_APP_REVIEWS=<fill this field>
SLACK_CHANNEL_POI_REPORTS=<fill this field>
SLACK_CHANNEL_PLACE_SUGGESTIONS=<fill this field>
SLACK_CHANNEL_USER_FEEDBACK=<fill this field>

# Data scraper config
DATA_SCRAPER_URL=http://localhost:3234
DATA_SCRAPER_BASIC_AUTH_USER="Geralt"
DATA_SCRAPER_BASIC_AUTH_PASSWORD="de Riv"

# Jina API key
JINA_API_KEY=<fill this field>

# LLMs
GEMINI_API_KEY=<fill this field>
GROQ_API_KEY=<fill this field>

# Wikimedia OAuth2
WIKIMEDIA_OAUTH2_CLIENT_ID=<fill this field>
WIKIMEDIA_OAUTH2_CLIENT_SECRET=<fill this field>

# Sentry config
SENTRY_DSN=empty
SENTRY_ENVIRONMENT=local
